.analytics {
    display: grid;
    place-items: center;

    .analytics__container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 150px;
        gap: 30px;
        max-width: 1300px;
        width: 100%;

        .analytics__block-1 {}

        .analytics__block-2 {

            width: 570px;

            .title {
                text-align: center;
            }


            .subtitle {
                font-size: 18px;
                line-height: 1.5;
                margin-top: 30px;
                text-align: center;
            }

            .analytics__cards {
                margin-top: 30px;


                .card {
                    margin-top: 60px;
                    display: flex;

                    .img {
                        text-align: center;
                        padding-top: 15px;
                        width: 80px;
                        height: 80px;
                        border-radius: 20px;

                        img {
                            width: 48px;
                            height: 50px;
                        }
                    }

                    .text {
                        margin-left: 20px;

                        h2 {
                            font-size: 22px;
                        }

                        p {
                            font-size: 18px;
                            line-height: 1.5;
                            margin-top: 8px;
                        }
                    }

                }

                .card-1 {
                    .img {
                        background-color: rgba(250, 133, 92, 1);
                    }
                }

                .card-2 {
                    .img {
                        background-color: rgba(122, 214, 225, 1);
                    }
                }

                .card-3 {
                    .img {
                        background-color: rgba(255, 201, 84, 1);
                    }
                }
            }

        }

    }

}

@media (max-width:500px) {
    .analytics {
        .analytics__container {
            .analytics__block-1 {
                img {
                    max-width: 150px;
                    max-height: 320px;
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    .card {
        font-size: 20px;
    }

    .analytics {
        display: block;
    }
}