.tracker {
    display: grid;
    place-items: center;

    .tracker__container {
        margin-top: 150px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 50px;
        max-width: 1700px;
        width: 100%;

        .tracker__block-1 {


            max-width: 690px;
            width: 99%;
            padding-left: 10px;

            .title {
                text-align: center;
                margin-bottom: 40px;
            }

            .subtitle {
                text-align: center;
                font-size: 18px;
                color: rgba(64, 64, 64, 1);
                line-height: 1.5;
            }

            .cards {


                .card {
                    display: flex;
                    margin-top: 60px;

                    .text {
                        margin-left: 20px;
                        color: rgba(64, 64, 64, 1);

                        h2 {
                            font-size: 22px;

                        }

                        p {
                            font-size: 18px;
                            line-height: 1.5;
                        }
                    }
                }



                .img {
                    width: 100px;
                    height: 100px;
                    border-radius: 20px;
                    text-align: center;
                    padding-top: 15px;

                    img {
                        width: 60px;
                        height: 60px;
                    }
                }

                .text {}

                .card-1 {
                    .img {
                        background-color: rgba(91, 193, 127, 1);
                    }
                }

                .card-2 {
                    margin-left: 130px;

                    .img {
                        background-color: rgba(254, 98, 146, 1);
                    }
                }

                .card-3 {
                    .img {
                        background-color: rgba(107, 114, 255, 1);
                    }
                }
            }
        }

        .tracker__block-2 {
            display: flex;
            flex-wrap: wrap;

            .block-img-1 {
                display: grid;

                img {
                    width: 260px;
                }
            }

            .block-img-2 {
                img {
                    width: 388px;
                    height: 430px;
                }
            }
        }


    }
}

@media (max-width:500px) {
    .tracker__block-1 {
        .card-2 {
            margin-left: 0 !important;
        }
    }

    .kit-2 {
        display: none;
    }

    .tracker {
        display: block;
    }
}